/*
 * Created by Timothy Shiner on 2024.2.27
 * Copyright © 2024 Timothy Shiner. All rights reserved.
 */

/**Source https://colorffy.com/dark-theme-generator*/
/*https://gervinfungdaxuen.vercel.app/ could use for inspiration */
:root {
    /** CSS DARK THEME PRIMARY COLORS */
    --primarycolor1: #d60000;
    --primarycolor2: #e03b20;
    --primarycolor3: #e95a3a;
    --primarycolor4: #f07454;
    --primarycolor5: #f78c6f;
    --primarycolor6: #fca48b;
    /** CSS DARK THEME SURFACE COLORS */
    --surfacecolor1: #121212;
    --surfacecolor2: #2c2c2c;
    --surfacecolor3: #434343;
    --surfacecolor4: #5b5b5b;
    --surfacecolor5: #747474;
    --surfacecolor6: #8e8e8e;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #732212;
    --color-surface-mixed-200: #853b28;
    --color-surface-mixed-300: #965240;
    --color-surface-mixed-400: #a76a58;
    --color-surface-mixed-500: #b78172;
    --color-surface-mixed-600: #c69a8d;

    --textcolor: #adadad;
}

html {
	background-color: var(--surfacecolor1);
	color: whitesmoke;
	
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensure the body fills the entire viewport height */
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    margin: 6px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    padding-top: 6px;
}

.dropdown-content {
    display: none;
	background-color: var(--surfacecolor2);
    position: absolute;
    min-width: 120px;
    z-index: 1; /* Allow dropdown to overlap content */
    top: 100%; /* Position the dropdown below the parent element */
    left: 0; /* Align the dropdown with the parent element */
    
}

.dropdown:hover {
	background-color: var(--surfacecolor2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    margin: 0;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-top: 2px solid var(--surfacecolor1);
}

main {
    flex: 1; /* Allow the main content area to expand to fill available space */
    padding: 20px 100px;
}

footer {
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Align the footer to the bottom of the page */
}


body, p, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

p {
    font-size: 12pt;
    line-height: 1.5;
    color: var(--textcolor);
}

h1 {
    font-size: 32pt;
    text-align: center;
    text-shadow: 2px 1px #0FFBF9, -2px 1px var(--primarycolor1);
}

h2 {
    font-size: 16pt;
    text-align: center;
    color: var(--textcolor);
}

a {
    text-decoration: none; /* Do not underline the link */
    color: var(--primarycolor2);
}
